$color_task: #fffcb1;
$color_donetask: #f8df93;
$color-white: #fff;
$color-grey: #ccc;
$color-green: #20a04d;
$color_hoverbtn: #c5f39d;
$color_lightGrey: #eeeeee;
$color_delete: #ea6709;
$color_deleteHover: #f9925f;
$color_filter: #b3d9dd;
$color_filterActive: #9cc4c8;
$color_filterHover: #d3edf0;